* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 手機優先 */
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  /* background-color: #ccc; */
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  /* background-color: deepskyblue; */
}

.d-flex {
  display: flex !important;
}

.flex-wrap {
  flex-wrap: wrap;
}

.box {
  width: 100%;
  /* height: 200px; */
  outline: 1px solid red;
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

.img-300 {
  width: 100%;
  height: 300px;
}

.img-300 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 平板 */
@media screen and (min-width: 576px) {
  .container {
    max-width: 900px;
  }

  .box {
    width: 50%;
  }
}

/* 桌機 */
@media screen and (min-width: 960px) {
  .container {
    max-width: 1200px;
  }

  .box {
    width: 33.3333%;
  }
}
